frontend/** @senthil
backend/** @lokashakthivel @isheetha
docs/** @senthil @lokashakthivel @isheetha
docker-compose.yml @senthil @lokashakthivel @isheetha
.github/** @senthil @lokashakthivel @isheetha
